<div class="view-box">
  <h4 class="view-text">Title:</h4>
  <span class="view-textbox"><%= @book.title %></span>
</div>
<div class="view-box">
  <h4 class="view-text">Body:</h4>
  <span class="view-textbox"><%= @book.body %></span>
</div>

<div class="link-content">
  <span class="show-link1">
    <%= link_to "Edit", edit_book_path(@book.id) %>
  </span>
  <span class="show-link2">
    <%= link_to "Back", '/books' %>
  </span>
</div>